{% extends 'index.html' %}

{% block content %}

    <h1>{{ object.name }}</h1>
    <h3>{{ object.created_at|date }}</h3>
    <p>{{ object.text }}</p>
    <p>Рейтинг: {{ object.rating }}</p>
    <hr/>
    Комментарии:
    {% for comment in comments %}
        <h4>{{ comment.owner }}</h4>
        <h5>{{ comment.date }}</h5>
        <p>{{ comment.text }}</p>
    {% endfor %}

{% endblock %}