{% extends 'index.html' %}

{% block content %}
    {% for post in posts %}
        <h1><a href="{% url 'post-detail' post.slug %}">{{ post.name }}</a></h1>
        <p>{{ post.text }}</p>

        {% empty %}
        <p>Статей не обнаружено :(</p>

    {% endfor %}

    {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="{% if page_obj.previous_page_number == 1 %}/posts/{% else %}/posts/page{{ page_obj.previous_page_number }}/{% endif %}">&larr;</a>
        {% endif %}
        Страница {{ page_obj.number }} из {{ paginator.num_pages }}
        {% if page_obj.has_next %}
            <a href="/posts/page{{ page_obj.next_page_number }}/">&rarr;</a>
        {% endif %}
    {% endif %}

{% endblock %}