{% extends 'index.html' %}
{% block title %}Список приватных статей{% endblock %}
{% block content %}
        {% for post in object_list %}
        <div class="post">
            <div class="post_name">{{ post.name }}</div>
            <div class="post_text">{{ post.text|safe }}</div>
            <div class="post_info">{{ post.author.username }}, {{ post.created_at|date:"d.m.Y в H:i" }}</div>
        </div>
    {% empty %}
        <p>Статей не обнаружено :(</p>
    {% endfor %}

    {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/page{{ page_obj.previous_page_number }}/">&larr;</a>
        {% endif %}
        <span class="current_page">{{ paginator.number }}</span>
        {% if page_obj.has_next %}
            <a href="/page{{ page_obj.next_page_number }}">&rarr;</a>
        {% endif %}
    {% endif %}

{% endblock %}